
<%= form_with(scope: :search, url: search_path, method: :get, local: true) do |f| %>

  <div>
    <%= f.label :prefecture %>
    <%= f.select :prefecture, Store.prefectures.keys.map {|k| [I18n.t("enums.store.prefecture.#{k}"), k]}, options = { include_blank: false } %>
  </div>

  <div>
    <%= f.label :budget %>
    <%= f.number_field :budget %>
  </div>

  <div>
    <%= f.label :visit_day_id %>
    <%= f.collection_select :visit_day_id, Day.all, :id, :name  %>
  </div>

  <div class="actions">
    <%= f.submit "検索" %>
  </div>

<% end %>

<h4>現在地周辺のラーメン店</h4>
<div id = 'map'></div>

<h5>新着店舗</h5>

<div class = "container">
  <div class = "row">
    <% @new_stores.each do |new_store| %>
      <div class = "col-3">
        <div>店名：<%= new_store.name %></div>
        <div>ジャンル：<%= new_store.store_genre.name %></div>
        <div><%= image_tag new_store.get_store_image("200x200!") %></div>
        <div>都道府県：<%= new_store.prefecture_i18n %></div>
        <div>価格帯：<%= new_store.lowest_price_range %>円 ～ <%= new_store.highest_price_range %>円</div>
        <div>定休日：
          <% new_store.days.order("id").each do |day| %>
            <%= day.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- ↓ 地図表示用のコード ↓ -->

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>

function initMap() {

  // 変数の使用宣言
  let map;
  let markers = []
  let infoWindows = []
  // 定数の使用宣言＆controllerからインスタンス変数を受け取る
  const stores = JSON.parse('<%== @stores_json || [] %>')

  // 地図表示
  map = new google.maps.Map(document.getElementById('map'), {
    // 中心位置の設定（lat → 緯度、lng → 経度）
    center: { lat: 34.6937, lng: 135.5021 },
    // 地図の拡大縮小設定
    zoom: 8,
  });

  // 受け取った店舗数分、処理を繰り返す
  for (let i = 0; i < stores.length; i++) {

    // 店舗情報を配列に格納する（1データ）
    const store = stores[i]

    // マーカーを表示する
    markers[i] = new google.maps.Marker({
      position: { lat: store.lat, lng: store.lng },
      map: map
    });

    // マーカーをクリックした時に出る情報をセットする
    infoWindows[i] = new google.maps.InfoWindow({
      content: `
        <a href="stores/${store.id}">${store.name}</a>
      `
    })

    // マーカーをクリックした時の挙動を設定する
    markers[i].addListener('click', () => {
      infoWindows[i].open(map, markers[i])
    })
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_JAVASCRIPT_API_KEY'] %>&callback=initMap" async defer></script>
