<% if @index_screen_flag == 0 %>
  <h4>全ユーザーの口コミ投稿履歴</h4>
<% elsif @index_screen_flag == 1 %>
  <h4><%= @user.name %>さんの口コミ投稿履歴</h4>
<% else %>
  <h4><%= @store.name %>の口コミ投稿履歴</h4>
<% end %>

<table class = "table">
  <thead>
    <tr>
      <th>No</th>
      <% unless @index_screen_flag == 1 %>
        <th>投稿者</th>
      <% end %>
      <% unless @index_screen_flag == 2 %>
        <th>投稿店舗</th>
      <% end %>
      <th>投稿日時</th>
      <th>投稿タイトル</th>
    </tr>
  </thead>

  <% @reviews.each do |review| %>
    <tbody>
      <tr>
        <td><%= @number %></td>
        <% unless @index_screen_flag == 1 %>
          <td><%= link_to review.user.name, admin_reviews_path(user_id: review.user.id) %></td>
        <% end %>
        <% unless @index_screen_flag == 2 %>
          <td><%= link_to review.store.name, admin_reviews_path(store_id: review.store.id) %></td>
        <% end %>
        <td><%= link_to review.created_at.strftime("%Y/%-m/%-d %H:%M:%S"), admin_review_path(review.id) %></td>
        <td><%= review.title %></td>
      </tr>
    </tbody>
    <% @number += 1 %>
  <% end %>

  <%= paginate @reviews %>

</table>
