<div class = "public_mystore_index px-4">

  <div class = "public_mystore_index_1 mb-1">
    <h5 class = "public_mystore_index_title">店舗情報（一覧）</h5>

    <div class = "public_mystore_index_new_button">
      <%= button_to "＋", new_mystore_path, method: :get, class: "text-secondary font-weight-bold border border-muted bg-white", style: "border-radius: 50%" %>
    </div>
  </div>

  <div class = "public_mystore_index_2">
    <table class = "table">
      <thead>
        <tr>
          <th class = "th1">No</th>
          <th class = "th2">店舗名</th>
          <th class = "th3">開店ステータス</th>
          <th class = "th4">店舗詳細</th>
          <th class = "th5">メニュー</th>
        </tr>
      </thead>



    </div>




  </div>






</div>













<table class = "table">


  <% @mystores.each do |mystore| %>
    <tbody>
      <tr>
        <td><%= @number %></td>
        <td><%= mystore.name %></td>
        <td>
          <% if mystore.is_closed == true %>
            <p>閉店</p>
          <% else %>
            <p>開店</p>
          <% end %>
        </td>
        <td><%= link_to '表示する', mystore_path(mystore.id) %></td>
        <td><%= link_to 'メニュー情報管理', mystore_mymenus_path(mystore.id) %></td>
      </tr>
    </tbody>
    <% @number += 1 %>
  <% end %>

</table>
