<h5><%= @store.name %>のメニュー一覧 (全<%= @menus.count %>品)</h5>

<div class = "container">
  <div class = "row">
    <% @menus.each do |menu| %>
      <div class = "col-4">
        <div><%= image_tag menu.get_menu_image("150x150!") %></div>
        <div><%= menu.name %></div>
        <div><%= menu.price %></div>
      </div>
    <% end %>
  </div>
</div>
