<h4>店舗情報（編集）</h4>

<%= form_with model: @store, url: admin_change_confirm_path, method: :post do |store| %>

  <div class="field">
    <%= store.label :name %><br />
    <%= store.text_field :name %>
  </div>

  <div class="field">
    <%= store.label :name_kana %><br />
    <%= store.text_field :name_kana %>
  </div>

  <div class="field">
    <%= store.label :postal_code %><br />
    <%= store.text_field :postal_code %>
  </div>

  <div>
    <%= store.label :prefecture %><br />
    <%= store.select :prefecture, Store.prefectures.keys.map {|k| [I18n.t("enums.store.prefecture.#{k}"), k]}, options = { include_blank: false } %>
  </div>

  <div class="field">
    <%= store.label :address %><br />
    <%= store.text_field :address %>
  </div>

  <div class="field">
    <%= store.label :building_and_apartment %><br />
    <%= store.text_field :building_and_apartment %>
  </div>

  <div class="field">
    <%= store.label :telephone_number %><br />
    <%= store.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= store.label :fax_number %><br />
    <%= store.text_field :fax_number %>
  </div>

  <%# cocoonを用いたformのテンプレート %>
  <%= render 'cocoon_form', store: store %>

  <div>
    <%= store.label :day_ids %><br />
    <%= store.collection_check_boxes(:day_ids, Day.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= store.label :store_image %><br />
    <%= store.file_field :store_image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= store.label :store_genre_id %><br />
    <%= store.collection_select :store_genre_id, StoreGenre.all, :id, :name, prompt: "--選択してください--"  %>
  </div>

  <div class="field">
    <%= store.label :lowest_price_range %><br />
    <%= store.text_field :lowest_price_range %>
  </div>

  <div class="field">
    <%= store.label :highest_price_range %><br />
    <%= store.text_field :highest_price_range %>
  </div>

  <div class="field">
    <%= store.label :closest_station %><br />
    <%= store.text_field :closest_station %>
  </div>

  <div class="field">
    <%= store.label :representative %><br />
    <%= store.text_field :representative %>
  </div>

  <div class="field">
    <%= store.label :representative_kana %><br />
    <%= store.text_field :representative_kana %>
  </div>

  <div class="field">
    <%= store.label :representative_email %><br />
    <%= store.email_field :representative_email %>
  </div>

  <div class="field">
    <%= store.label :note %><br />
    <%= store.text_area :note %>
  </div>

  <div class="field">
    <%= store.label :staff %><br />
    <%= store.text_field :staff %>
  </div>

  <div class="field">
    <%= store.label :staff_telephone_number %><br />
    <%= store.text_field :staff_telephone_number %>
  </div>

  <div class="field">
    <%= store.label :staff_email %><br />
    <%= store.email_field :staff_email %>
  </div>

  <div class="actions">
    <%= store.submit '店舗情報を変更する' %>
  </div>

<% end %>
