<h4>メニュー編集</h4>

<!-- error count -->
<% if @mymenu.errors.any? %>
  <%= @mymenu.errors.count %>件のエラーが発生しました
<% end %>

<%= form_with model: @mymenu, url: "/mystores/#{@mymenu.store_id}/mymenus/#{@mymenu.id}" do |mymenu| %>

  <div class="field">
    <%= mymenu.label :menu_image %><br />
    <%= mymenu.file_field :menu_image, accept: "image/*" %>
  </div>

  <div class="field">
    <%= mymenu.label :name %><br />
    <%= mymenu.text_field :name %>
    <!-- name_error -->
    <%= render 'layouts/error_message', model: @mymenu, column: :name %>
  </div>

  <div class="field">
    <%= mymenu.label :price %><br />
    <%= mymenu.text_field :price %>
    <!-- price_error -->
    <%= render 'layouts/error_message', model: @mymenu, column: :price %>
  </div>

  <div class="actions">
    <%= mymenu.submit "変更内容を保存" %>
  </div>

<% end %>
