<h4><%= @review.store.name %>の口コミ詳細</h4>

<div>
  <p>投稿者名（ニックネーム）</p>
  <p><%= @review.user.nickname %></p>
</div>

<div>
  <p>投稿日時</p>
  <p><%= @review.created_at.strftime("%Y/%-m/%-d %H:%M:%S") %></p>
</div>

<div>
  <p>登録者名</p>
  <p><%= @review.name %></p>
</div>

<div>
  <p>訪問日</p>
  <p><%= @review.visit_date.strftime("%Y/%-m/%-d") %></p>
</div>

<div>
  <p>タイトル</p>
  <p><%= @review.title %></p>
</div>

<div>
  <p>本文</p>
  <p><%= @review.content %></p>
</div>

<div>
  <p>口コミ評価</p>
  <p><%= @review.score %>点</p>
</div>

<div><%= image_tag @review.get_review_image("350x350!") %></div>

<div>
  <%= link_to '口コミ一覧に戻る', store_reviews_path(@review.store_id) %>
</div>


<!-- ログインしていない場合はコメント投稿不可 -->
<% if user_signed_in? %>

  <div>
    <%= form_with model: [@review, @comment], url: review_comments_path(@review.id) do |f| %>

      <%= f.label :content %>
      <%= f.text_area :content %>

      <%= f.submit "送信する" %>
    <% end %>
  </div>

<% end %>



<!-- ログインしていない場合はコメント投稿不可 -->
<% if user_signed_in? %>
  <% if @review.favorited_by?(current_user) %>
    <p>
      <%= link_to review_favorites_path(@review.id), method: :delete do %>
        ♡<%= @review.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to review_favorites_path(@review.id), method: :post do %>
        ♡<%= @review.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

<% else %>
  ♡<%= @review.favorites.count %> いいね
<% end %>



<div>

  <% @comments.each do |comment| %>

    <div><%= comment.poster %></div>
    <div><%= comment.content %></div>

  <% end %>

</div>
